:root {
    --taxonomy-taxonomy-icon-content: "\f02c";
    --taxonomy-taxonomy-term-icon-content: "\f02b";
}

header nav .taxonomies::before, .taxonomies .subhead::before {
    content: var(--taxonomy-taxonomy-icon-content);
}

.o-icon-taxonomies::before {
    content: var(--taxonomy-taxonomy-icon-content);
}

.selected-resource .taxonomies a::after {
    content: var(--taxonomy-taxonomy-icon-content);
}

.property .value.taxonomies .resource-name::after {
    content: var(--taxonomy-taxonomy-icon-content);
}

header nav .taxonomy-terms::before, .taxonomy-terms .subhead::before {
    content: var(--taxonomy-taxonomy-icon-content);
}

.o-icon-taxonomy-terms::before {
    content: var(--taxonomy-taxonomy-term-icon-content);
}

.selected-resource .taxonomy_terms a::after {
    content: var(--taxonomy-taxonomy-term-icon-content);
}

.property .value.taxonomy_terms .resource-name::after {
    content: var(--taxonomy-taxonomy-term-icon-content);
}

ul.taxonomy-term-tree {
    padding-left: 0;
}
li.taxonomy-term-tree-node {
    list-style-type: none;
}
li.taxonomy-term-tree-node > span {
    display: flex;
    align-items: center;
    justify-items: space-between;
    border-bottom: 1px solid #dfdfdf;
    height: 48px;
}
li.taxonomy-term-tree-node > span .o-icon-private {
    display: inline-block;
    vertical-align: bottom;
    margin-left: .5em;
    opacity: .5;
}
