:root {
    --taxonomy-taxonomy-icon-content: "\f02c";
    --taxonomy-taxonomy-term-icon-content: "\f02b";
}

header nav .taxonomies::before, .taxonomies .subhead::before {
    content: var(--taxonomy-taxonomy-icon-content);
}

.o-icon-taxonomies::before {
    content: var(--taxonomy-taxonomy-icon-content);
}

.selected-resource .taxonomies a::after {
    content: var(--taxonomy-taxonomy-icon-content);
}

.property .value.taxonomies .resource-name::after {
    content: var(--taxonomy-taxonomy-icon-content);
}

header nav .taxonomy-terms::before {
    content: var(--taxonomy-taxonomy-term-icon-content);
}
.taxonomy-terms .subhead::before {
    content: var(--taxonomy-taxonomy-icon-content);
}

.o-icon-taxonomy-terms::before {
    content: var(--taxonomy-taxonomy-term-icon-content);
}

.selected-resource .taxonomy_terms a::after {
    content: var(--taxonomy-taxonomy-term-icon-content);
}

.property .value.taxonomy_terms .resource-name::after {
    content: var(--taxonomy-taxonomy-term-icon-content);
}

.taxonomy-term-tree .jstree-anchor {
    display: flex;
}

.taxonomy-term-tree .jstree-themeicon {
    display: none;
}

.taxonomy-term-tree ul.actions {
    display: inline-flex;
}

.taxonomy-term-tree-node-content {
    flex-grow: 1;
    padding-right: 36px;
    display: inline-flex;
    align-items: center;
    justify-items: space-between;
}
.taxonomy-term-tree-node-content .o-icon-private {
    display: inline-block;
    vertical-align: bottom;
    margin-left: .5em;
    opacity: .5;
}

.sidebar .taxonomy-term-sidebar-tree {
    display: none;
}

.taxonomy-tree-view-enabled ~ .taxonomy-term-sidebar-tree {
    display: block;
}
.taxonomy-tree-view-enabled ~ .taxonomy-term-sidebar-list {
    display: none;
}

.sidebar button.taxonomy-tree-view-toggle {
    background-color: transparent;
    color: #676767;
    box-shadow: none;
    margin: 12px;
    padding: 0;
    line-height: 1;
    min-height: 0
}
.sidebar button.taxonomy-tree-view-toggle:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    display: inline-block;
    margin-right: 6px
}
button.taxonomy-tree-view-toggle.taxonomy-tree-view-enabled:before {
    content: ""
}

.taxonomy-term-sidebar-tree .jstree-children:not(.jstree-container-ul) {
    padding-left: 12px;
}
